<?xml version="1.0" encoding="utf-8"?>
<config>
    <mainServer>
    	<serverName>服务1</serverName>
        <serverId>1</serverId>
        <serverIp>127.0.0.1</serverIp>
        <serverPort>9004</serverPort>
        <business-start>com.stars.startup.MainStartup</business-start>
        <serverType>mainServer</serverType>
        <openServer>true</openServer>
        <openGameGm>true</openGameGm>
    </mainServer>
    <connector>
    	<serverName>连接服1</serverName>
        <serverId>2001</serverId>
        <serverIp>127.0.0.1</serverIp>
        <serverPort>8090</serverPort>
        <connector-test-needRelay>com.stars.startup.MainStartup</connector-test-needRelay>
        <connector-frontend-timeout>120</connector-frontend-timeout>
        <connector-frontend-limitPerThread>300</connector-frontend-limitPerThread>
        <connector-frontend-limitTotal>3000</connector-frontend-limitTotal>
        <connector-backend-timeout>3000</connector-backend-timeout>
        <connector-backend-hwm></connector-backend-hwm>
        <connector-backend-lwm></connector-backend-lwm>
        <connector-thresholdOfPayload>7500</connector-thresholdOfPayload>
        <connector-test-isOpenBackdoor>false</connector-test-isOpenBackdoor>
        <connector-test-isOn>false</connector-test-isOn>
        <connector-test-needRelay>false</connector-test-needRelay>
        <serverType>connector</serverType>
    </connector>
    
    <configer>
        <serverId>3001</serverId>
        <serverIp>127.0.0.1</serverIp>
        <serverPort>9006</serverPort>
        <serverName>配置服1</serverName>
        <srverType>mainServer</srverType>
        <business-start>com.stars.startup.MainStartup</business-start>
        <connector-threadNumber>1</connector-threadNumber>
        <connector-frontend-timeout>120</connector-frontend-timeout>
        <connector-frontend-limitPerThread>300</connector-frontend-limitPerThread>
        <connector-frontend-limitTotal>3000</connector-frontend-limitTotal>
        <connector-backend-timeout>3000</connector-backend-timeout>
        <connector-backend-hwm></connector-backend-hwm>
        <connector-backend-lwm></connector-backend-lwm>
        <connector-thresholdOfPayload>7500</connector-thresholdOfPayload>
        <connector-test-isOpenBackdoor>true</connector-test-isOpenBackdoor>
        <connector-test-isOn>false</connector-test-isOn>
        <connector-test-needRelay>false</connector-test-needRelay>
        <serverType>nouse</serverType>
    </configer>
    <login>
    	<serverName>登录服1</serverName>
        <serverId>4001</serverId>
        <serverIp>127.0.0.1</serverIp>
        <serverPort>9007</serverPort>
        <srverType>mainServer</srverType>
        <business-start>com.stars.startup.MainStartup</business-start>
        <login-server-threadNumber>1</login-server-threadNumber>
        <login-server-return-ip>127.0.0.1</login-server-return-ip>
        <login-server-return-port>8007</login-server-return-port>
        <serverType>nouse</serverType>
    </login>
	<fightServer>
    	<serverName>战斗服1</serverName>
        <serverId>5001</serverId>
        <serverIp>127.0.0.1</serverIp>
        <serverPort>9008</serverPort>
        <serverType>fightServer</serverType>
        <business-start>com.stars.startup.FightStartup</business-start>
    </fightServer>
    <loottreasure>
            <serverName>夺宝服</serverName>
            <serverId>6001</serverId>
            <serverIp>127.0.0.1</serverIp>
            <serverPort>9011</serverPort>
            <serverType>loottreasure</serverType>
            <business-start>com.stars.startup.LootTreasureStartup</business-start>
    </loottreasure>
    <rmchat>
    	<serverName>聊天服</serverName>
        <serverId>8007</serverId>
        <serverIp>127.0.0.1</serverIp>
        <serverPort>9010</serverPort>
        <serverType>rmchat</serverType>
        <business-start>com.stars.startup.RMChatServerStartup</business-start>
    </rmchat>
    <multi>
            <serverName>斗神殿</serverName>
            <serverId>7001</serverId>
            <serverIp>127.0.0.1</serverIp>
            <serverPort>10011</serverPort>
            <serverType>multi</serverType>
            <business-start>com.stars.startup.FightingMasterStartup</business-start>
    </multi>
    <fightmanager>
        <serverName>战斗管理服</serverName>
        <serverId>8001</serverId>
        <serverIp>127.0.0.1</serverIp>
        <serverPort>8001</serverPort>
        <serverType>fightmanager</serverType>
        <business-start>com.stars.startup.FightManagerStartup</business-start>
    </fightmanager>
    <fightmanager1>
        <serverName>战斗管理服1</serverName>
        <serverId>8011</serverId>
        <serverIp>127.0.0.1</serverIp>
        <serverPort>8011</serverPort>
        <serverType>fightmanager1</serverType>
        <business-start>com.stars.startup.FightManagerStartup</business-start>
    </fightmanager1>
    <payserver>
        <serverName>伪支付</serverName>
        <serverId>65535</serverId>
        <serverIp>127.0.0.1</serverIp>
        <serverPort>65535</serverPort>
        <serverType>fightmanager1</serverType>
        <business-start>com.stars.startup.FightManagerStartup</business-start>
    </payserver>
    <payserver1>
        <serverName>伪支付</serverName>
        <serverId>65534</serverId>
        <serverIp>127.0.0.1</serverIp>
        <serverPort>65534</serverPort>
        <serverType>fightmanager1</serverType>
        <business-start>com.stars.startup.FightManagerStartup</business-start>
    </payserver1>
    <skyrank>
    	<serverName>天梯服</serverName>
        <serverId>9001</serverId>
        <serverIp>127.0.0.1</serverIp>
        <serverPort>9001</serverPort>
        <serverType>skyrank</serverType>
        <business-start>com.stars.startup.SkyRankServerStartup</business-start>
    </skyrank>
    <daily5v5>
        <serverName>日常5v5</serverName>
        <serverId>8100</serverId>
        <serverIp>127.0.0.1</serverIp>
        <serverPort>8100</serverPort>
        <serverType>daily5v5</serverType>
        <business-start>com.stars.startup.Daily5v5Startup</business-start>
    </daily5v5>
    <familywar>
        <serverName>家族战</serverName>
        <serverId>9003</serverId>
        <serverIp>127.0.0.1</serverIp>
        <serverPort>9003</serverPort>
        <serverType>familywar</serverType>
        <business-start>com.stars.startup.FamilyWarStartup</business-start>
    </familywar>
    <camp>
        <serverName>阵营</serverName>
        <serverId>9999</serverId>
        <serverIp>127.0.0.1</serverIp>
        <serverPort>8999</serverPort>
        <serverType>camp</serverType>
        <business-start>com.stars.startup.CampStartup</business-start>
    </camp>
</config>
